
.about{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
    box-shadow: 3px 4px 3px #999;
    box-sizing: border-box;
}
.about-me > h4,.about-blog > h4{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #191919;
}
.about-me p,.about-blog > p{
    color: #191919;
    font-size: 14px;
}
.liuyan{
    width: 100%;
    margin-top: 20px;
}
.liuyan-item{
    width: 100%;
    border:1px #7ca4c1 dashed;
    background-color: #d9edf7;
    margin-top: 15px;
    padding: 20px;
    box-sizing: border-box;
}
.liuyan-item span,.liuyan-item p{
    font-size: 14px;
    color: #31708f;
}
.subly{
    width: 100%;
    margin-top: 20px;
    background-color: #f4f4f4;
    box-shadow: 3px 4px 3px #666;
}


.well{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    margin-top: 20px;
    background-color: #f5f5f5;
    border:1px solid #e3e3e3;
}