
.about{
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
}
.about-me > h4,.about-blog > h4{
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    border-bottom: 1px solid #191919;
}
.about-me p,.about-blog > p{
    color: #191919;
    font-size: 14px;
}
.liuyan{
    width: 100%;
    margin-top: 10px;
}
.liuyan-item{
    width: 100%;
    border:1px #7ca4c1 dashed;
    background-color: #d9edf7;
}