
.every-day{
    background-color: white;
    text-align: left;
    width: 100%;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 3px 4px 3px #888;
    margin-top: 25px;
}
.every-day span::before{
    font-family: myicon;
    content:'\e122';
    font-size: 14px;
    color: #f60;
    position: absolute;
    display: block;
    left: 90px;
}
.every-day > span{
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
    color: slateblue;
}
.every-day > p{
    /* zuanwu */
}

.blog-list{
    width: 100%;
    position: relative;
}
.blog-list .blog{
    width: 100%;
    border:1px solid #333;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 20px;
}
.blog-list .blog h3 {
    padding: 0 10px;
    color: #13102b;
    transition: color 0.5s;
}
.blog-list .blog h3:hover{color: #337ab7;cursor: pointer;}
.blog-list .blog p{padding: 0 10px;}
.blog-list .blog .blog-foot{
    background-color: #1f1f1f;
    padding: 3px 10px;
    color: #eee;
    font-size: 14px;
}