
.every-day{
    background-color: white;
    text-align: left;
    width: 100%;
    border-radius: 6px;
    padding: 5px 10px;
    box-shadow: 3px 4px 3px #888;
    box-sizing: border-box;
}
.every-day span::before{
    font-family: myicon;
    content:'\e122';
    font-size: 16px;
    color: #f60;
    position: absolute;
    display: block;
    left: 100px;
}