.content{
    min-height: 790px;
    border: 1px solid #191919;
    border-radius: 6px;
    font-size: 14px;
    padding: 0 0 0 40px;
    box-sizing: border-box;
    margin: 20px auto;
}
.content ul li{
   list-style-type: disc;
    color: #191919;
}
.content ul li a{
    display: inline-block;
    padding: 6px 0;
    color: #191919;
    transition: color 0.5s;
}
.content ul li a:hover{color: #1266bf}