<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>个人博客</title>
    <link href="./css/base.css" rel="stylesheet" type="text/css" />
    <link href="./css/about.css" rel="stylesheet" type="text/css" />
    <script src="./js/vue.js"></script>
    <script src="./js/axios.min.js"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <a>个人博客 | 技术博客</a>
        <ul>
          <li><a href="./index.html">首页</a></li>
          <li><a href="./map.html">地图</a></li>
          <li><a href="./about.html">关于</a></li>
          <li><a href="./liuyan.html">留言</a></li>
        </ul>
        <div class="search">
          <input type="text" placeholder="输入关键字查找" />
          <button>搜索</button>
        </div>
      </div>
    </header>
    <div class="content">
      <div class="content-left" id="about">
        <div class="about">
          <div class="about-me">
            <h4>关于我</h4>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
            <p>博主郑晓，zx，性别男，山东青岛即墨区人。</p>
          </div>
          <div class="about-blog">
            <h4>关于博客</h4>
            <p style="line-height: 25px;">
              从2009年 – 今 博主很懒加词穷，佛系更新… 域名 zhengoo.cn ->
              zh30.com 程序 tcms -> WordPress 服务器 免费空间 -> 国内某收费空间
              -> 国外vps -> 阿里云 推荐便宜又稳定的xen-VPS吧: HostShare kvm
              vps:hostEONS 洛杉矶节点，我在用，速度可以，可以干一些羞羞的事。
            </p>
          </div>
        </div>
        <div class="liuyan">
          <span>留言：目前{{ commentsCount }} </span>
          <div class="liuyan-item" v-for="item in commentsList">
            <span
              ><b>{{ item.nickname }}</b
              >：发表于 {{ item.ctime | toDate }}[
              <span class="reply" @click="replay(item.id,item.username)"
                >回复</span
              >
              ]</span
            >
            <p>{{ item.text }}</p>
          </div>
        </div>
        <div class="subly" id="subly">
          <form action="">
            <span>发表评论:</span>
            <div>
              <input
                type="text"
                ref="username"
                placeholder="昵称"
                v-model="comments.nickname"
              />
              <input
                type="email"
                placeholder="邮箱(评论回复时你能收到通知)"
                type="email"
                v-model="comments.email"
                style="width:300px;margin-left: 30px;"
              />
            </div>
            <textarea
              placeholder="无意义的内容我可能不会回复你"
              type="text"
              v-model="comments.text"
            ></textarea>
            <div>
              <input type="text" placeholder="验证码" v-model="comments.code" />
              <div
                v-html="comments.coder"
                @click="getCode()"
                style="display:inline-block;position: relative;top: 7px;cursor: pointer;"
              ></div>
            </div>
            <div>
              <button class="submit" @click.prevent="submitVer(&quot;0&quot;)">
                提交
              </button>
              <button class="reset" @click.prevent="reset">重写</button>
            </div>
          </form>
        </div>
      </div>
      <div class="content-right" id="random_tags">
        <div class="right-box">
          <h4 :style="{color:color}">随机标签云</h4>
          <div class="contents">
            <a
              v-for="tag in tags"
              :href="tag.link"
              v-bind:style="{color:randomColor(),fontSize:randomSize()}"
              >{{ tag.tag }}</a
            >
          </div>
        </div>
        <div class="right-box" style="padding-bottom: 0;">
          <h4 :style="{color:color}">最近热门</h4>
          <div class="contents">
            <ul class="list-group">
              <li class="list-group-item" v-for="item in hots" :key="item.id">
                <a :href="item.link">{{ item.title }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="right-box">
          <h4 :style="{color:color}">最新评论</h4>
          <div class="contents">
            <div class="item" v-for="item in comments">
              <div class="item-title">
                <a :href="item.link">
                  <span>{{ item.username }}</span>
                  <span class="spanr">[{{ item.ctime | toDate }}]</span>
                </a>
              </div>
              <p class="item-comtebt">{{ item.text }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <ul>
        <li>MsSql</li>
        <li>Express</li>
        <li>Redis</li>
        <li>JavaScript</li>
        <li>Html</li>
        <li>Css</li>
        <li>Node</li>
        <li>Vue</li>
        <li>Webpack</li>
        <li>GitHub</li>
      </ul>
      <p>
        Copyright © 2019 李恭兆个人博客 All rights reserved.
        甘ICP备14017955号站长统计
      </p>
    </footer>
    <script src="./js/base.js"></script>
    <script src="./js/about.js"></script>
  </body>
</html>
